<!-- Page not found. Write a list of what to do -->
<h1>¡Épale! Este link como que no sirve. </h1>
<p>Te invito hacer lo siguiente:</p>
<!-- list with links -->
<ul>
<li>Ir a la página de <a href="/carajitos">Inicio</a></li>
<li>Ir a la página de <a href="/carajitos">Carajitos</a></li>
<li>Ir a la página de <a href="/nosotros">Nosotros</a></li>

</ul>





<h1>{{ notFound[locale].notFound }}</h1>

{{ notFound[locale].goto }} <a class="c-underline-link" href="{{ '/' | url }}">{{ notFound[locale].mainPage }}</a>.

