<div class="p-index">
    <section class="p-index_hero">
        <h1>
            {{ main[locale].welcome }}
        </h1>
        <div class="p-index_hero-text">
            <p>¿Viniste a USA recientemente? ¿Quieres estudiar? ¿Te gustaría progresar?.</p>
            <p>Agarra un "<a class="c-text-link" href="https://carajo.org/carajitos/">carajito</a>" y empieza a aprender!</p>
        </div>
  
</div>