<div class="p-index">
    <section class="p-index_hero">
        <h1>
            {{ main[locale].welcome }}
        </h1>
        <div class="p-index_hero-text">
            <p>¿Viniste a USA recientemente? ¿Quieres estudiar? ¿Te gustaría progresar?.</p>
            <p>Agarra un "carajito" y empieza a aprender!</p>
            <p>For site serving you can use <a class="c-text-link" href="https://caddyserver.com/">caddy</a>, <a class="c-text-link" href="https://nginx.org">nginx</a>
 or use <a class="c-text-link" href="https://vercel.com/">vercel</a> or <a class="c-text-link" href="https://www.netlify.com/">netlify</a>
            </p>
        </div>
  
</div>